# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
vendor/github.com/ImranR98/Circular-Video-Recorder/.dart_tool/
vendor/github.com/ImranR98/Circular-Video-Recorder/.flutter-plugins
vendor/github.com/ImranR98/Circular-Video-Recorder/.flutter-plugins-dependencies
vendor/github.com/ImranR98/Circular-Video-Recorder/.packages
vendor/github.com/ImranR98/Circular-Video-Recorder/.pub-cache/
vendor/github.com/ImranR98/Circular-Video-Recorder/.pub/
vendor/github.com/ImranR98/Circular-Video-Recorder/build/

# Symbolication related
vendor/github.com/ImranR98/Circular-Video-Recorder/app.*.symbols

# Obfuscation related
vendor/github.com/ImranR98/Circular-Video-Recorder/app.*.map.json

# Android Studio will place build artifacts here
vendor/github.com/ImranR98/Circular-Video-Recorder/android/app/debug
vendor/github.com/ImranR98/Circular-Video-Recorder/android/app/profile
vendor/github.com/ImranR98/Circular-Video-Recorder/android/app/release

vendor/github.com/ImranR98/Circular-Video-Recorder/ios/Podfile
**/Debug.xcconfig
**/Release.xcconfig
**/pubspec.lock

desktop-app/build
**.env
**env/
